<h1>home</h1>

<%= @featured.name %>
<%= @featured.platform.name %>
<%= @featured.version %>
<p>
<%= @featured.description %>
<img src="assets/images/product/kelvim-screenshot.png"/>

<br/>
<img src="assets/images/product/kelvim-feature-graphic.jpg"/>
</p>
